<div ng-show="initiated">
    <div class="row">
        <div class="col-md-10 sectionsContainer">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="day_date">Day Date:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="day_date" ng-model="day_date" placeholder="YYYY-MM-DD">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tag_name">Target Name:</label>
                    <div class="col-sm-10">
                        <div class="right-inner-addon">
                            <i ng-show="loadingTags" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
                            <input type="text" class="form-control" id="tag_name" ng-model="tag_name" placeholder="e.g. Income"
                               typeahead-min-length="3" uib-typeahead="tag_name as t.name for t in getTag($viewValue)"
                               typeahead-loading="loadingTags" typeahead-no-results="noTagResults" autocomplete='off'
                               typeahead-on-select="onTagSelect($item, $model, $label, $event)">
                        </div>
                        <div ng-show="noTagResults">
                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Chosen Target:</label>
                    <label class="control-label col-sm-2" style="text-align: left">{{chosen_target.name}}</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="getGrid()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <a class="btn btn-link" ng-click="exportToExcel('results_table')">
            <span class="glyphicon glyphicon-share"></span> Export to Excel
        </a>
        <div class="col-md-12">
            <div ng-show="gatheringInfo" class="alert alert-info" role="info">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                {{gatheringStatus}}
            </div>
            <div ng-show="errorResponse" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{errorMessage}}
            </div>
        </div>
        <table id="results_table" class="table table-bordered" ng-show="showGrid">
            <tr>
                <th></th>
                <th ng-repeat="daypart in dayparts">
                    {{daypart.name}}
                </th>
            </tr>
            <tr ng-repeat="network in networks">
                <td>{{network.name}}</td>
                <td ng-repeat="daypart in dayparts">
                    <div ng-click="getShowLevel(daypart.id, network.id)">
                        <div align="center" style="font-weight: 700;">Reach Live</div>
                        <div>Total:
                            <formatting-data data="network[daypart.name].reach_live" type="'number'"></formatting-data>
                        </div>
                        <div>Target Total:
                            <formatting-data data="network['tag_'+daypart.name].reach_live" type="'number'"></formatting-data>
                        </div>
                        <div align="center" style="font-weight: 700;">Reach DVR</div>
                        <div>Total:
                            <formatting-data data="network[daypart.name].reach_dvr_same_day" type="'number'"></formatting-data>
                        </div>
                        <div>Target Total:
                            <formatting-data data="network['tag_'+daypart.name].reach_dvr_same_day" type="'number'"></formatting-data>
                        </div>
                        <div align="center" style="font-weight: 700;">Reach Live & DVR</div>
                        <div>Total:
                            <formatting-data data="network[daypart.name].reach_live_plus_dvr_same_day" type="'number'"></formatting-data>
                        </div>
                        <div>Target Total:
                            <formatting-data data="network['tag_'+daypart.name].reach_live_plus_dvr_same_day" type="'number'"></formatting-data>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div ng-show="showShowLevel">
            <div class="col-sm-offset-0 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="showToAudienceGrid()">Back</button>
            </div>
        </div>
        <table id="show_results_table" class="table table-bordered" ng-show="showShowLevel">
            <th><div><strong>{{shows_part[0].network_name}} - {{shows_part[0].national_daypart_name}}</strong></div></th>
            <tr ng-repeat="show in shows_part">
                <td>Show: {{show.series_name}}</td>
                <td>Reach Live: {{show.reach_live}}</td>
                <td>Reach DVR Same Day: {{show.reach_dvr_same_day}}</td>
                <td>Reach Live Plus DVR Same Day: {{show.reach_live_plus_dvr_same_day}}</td>
                <td>Hours Live: {{show.hours_live}}</td>
                <td>Start Time: {{show.airing_national_start_time}}</td>
            </tr>
        </table>
    </div>
</div>