<div ng-show="initiated">
    <div class="row">
        <div class="col-md-10 sectionsContainer">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ad_id">Ad ID:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ad_id" ng-model="ad_id" placeholder="Ad ID" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ad_id">Ad Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ad_name" ng-model="ad_name" placeholder="Ad Name"
                               typeahead-min-length="3" uib-typeahead="ad_name as ad.ADVERTISER_NAME for ad in getAdvertiser($viewValue)"
                               typeahead-loading="loadingAdvertisers" typeahead-no-results="noAdResults" autocomplete='off'
                               typeahead-on-select="onAdSelect($item, $model, $label, $event)">
                        <i ng-show="loadingAdvertisers" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noAdResults">
                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="brand_id">Brand ID:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="brand_id" ng-model="brand_id" placeholder="Brand ID" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ad_id">Brand Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="brand_name" ng-model="brand_name" placeholder="Brand Name"
                               typeahead-min-length="3" uib-typeahead="brand_name as b.BRAND_NAME for b in getBrand($viewValue)"
                               typeahead-loading="loadingBrands" typeahead-no-results="noBrandResults" autocomplete='off'
                               typeahead-on-select="onBrandSelect($item, $model, $label, $event)">
                        <i ng-show="loadingBrands" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noBrandResults">
                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="deal_id">Deal ID:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="deal_id" ng-model="deal_id" placeholder="Deal ID" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="deal_name">Deal Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="deal_name" ng-model="deal_name" placeholder="Deal Name"
                               typeahead-min-length="3" uib-typeahead="deal_name as d.DEAL_NAME for d in getDeal($viewValue)"
                               typeahead-loading="loadingDeals" typeahead-no-results="noDealResults" autocomplete='off'
                               typeahead-on-select="onDealSelect($item, $model, $label, $event)">
                        <i ng-show="loadingDeals" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noDealResults">
                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="st_week_id">Start Week ID:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="st_week_id" ng-model="st_week_id" placeholder="Start Week ID">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="end_week_id">End Week ID:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="end_week_id" ng-model="end_week_id" placeholder="End Week ID">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Mertrics:</label>
                    <div class="col-sm-10 metricsContainer">
                        <div ng-repeat="metric in metrics">
                            <input type="checkbox" value="{{metric.name}}" ng-model="metric.selected" ng-click="onMetricSelect(metric)">
                             {{metric.name}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="query()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <a class="btn btn-link" ng-click="exportToExcel('results_table')">
            <span class="glyphicon glyphicon-share"></span> Export to Excel
        </a>
        <table id="results_table" class="table table-bordered">
            <tr>
                <th>Advertiser ID</th>
                <th>Advertiser Name</th>
                <th>Brand ID</th>
                <th>Brand Name</th>
                <th>Deal ID</th>
                <th>Deal Name</th>
                <th>Broadcast Week</th>
                <th>Air Date/Time</th>
                <th>ISCII</th>
                <th>Property Name</th>
                <th>Unit Length</th>
                <th ng-repeat="metric in metrics_chosen">
                    {{metric}}
                </th>
            </tr>
            <tr ng-repeat="row in results">
                <td>{{row.ADVERTISER_ID}}</td>
                <td>{{row.ADVERTISER_NAME}}</td>
                <td>{{row.BRAND_ID}}</td>
                <td>{{row.BRAND_NAME}}</td>
                <td>{{row.DEAL_ID}}</td>
                <td>{{row.DEAL_NAME}}</td>
                <td>{{row.BRDCAST_WEEK_ID}}</td>
                <td>{{row.AIR_DTTM}}</td>
                <td>{{row.ISCII_CD}}</td>
                <td>{{row.PROPERTY_NAME}}</td>
                <td>{{row.UNIT_LENGTH}}</td>
                <td ng-repeat="metric in metrics_chosen">
                    {{row[metric]}}
                </td>
            </tr>
        </table>
    </div>
</div>